<launch>

    <!-- PROCESSING -->
    <!-- arguments -->
    <rosparam command="load" file="$(find processing_bci)/cfg/ringbuffer.yaml"/>
    <rosparam command="load" file="$(find processing_bci)/cfg/car.yaml"/>
    <arg name="nchannels" default='32'/>
    <arg name="chunkSize" default='25'/>
    <arg name="modality" default='online'/>
    <arg name="filter_order" default='4'/>
    <arg name="samplerate" default='500'/>
    <arg name='filters_band' default='8.0 14.0;'/>

    <!-- node -->
    <node name="processing_power_node" pkg="processing_bci" type="processing_power_node" output="screen"> 
        <param name="nchannels"   value="$(arg nchannels)"/>
        <param name="chunkSize"       value="$(arg chunkSize)"/>
        <param name="samplerate"  value='$(arg samplerate)'/>
        <param name="filter_order" value="$(arg filter_order)"/>
        <param name="modality" value="$(arg modality)"/>
        <param name="filters_band"           value="$(arg filters_band)"/>
    </node>

    <!-- TEST NODES -->
    <!-- logger node -->
    <node pkg="processing_bci" type="test_logger_processing_bci" name="test_subscriber" output="screen">
        <param name="output_filename" value="$(find processing_bci)/test/processing.csv"/>
    </node>
    
    <!-- publisher node -->
    <node pkg="processing_bci" type="test_publisher_processing_bci" name="test_publisher" output="screen">
        <param name="csv_file" value="$(find processing_bci)/test/rawdata.csv"/>
        <param name="chunk_size" value="$(arg chunkSize)"/>   
        <param name="sample_rate" value="$(arg samplerate)"/> 
    </node>

    

</launch>