<launch>    
    <!-- ACQUISITION -->
    <!-- arguments -->
    <arg name="plugin" default='rosneuro::EGDDevice'/>
    <arg name="devarg" default='/home/paolo/prova32ch.gdf'/>
    <!--arg name="devarg" default='/home/paolo/prova32ch.gdf'/-->
    <arg name="framerate" default='16'/>
    <arg name="samplerate" default='512'/>

    <!-- node -->
    <node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen">
        <param name="~plugin"       value="$(arg plugin)"/>
        <param name="~devarg"       value="$(arg devarg)"/>
        <param name="~samplerate" value="$(arg samplerate)"/>
        <param name="~framerate"  value="$(arg framerate)"/>
      </node> 
    
    <!-- PROCESSING -->
    <!-- arguments -->
    <arg name="nchannels" default='32'/>
    <arg name="chunkSize" default="$(eval arg('samplerate') / arg('framerate'))"/>
    <arg name="run_mode" default='online'/>
    <arg name="signal_type" default='eeg'/>
    <arg name="filter_order" default='4'/>
    <arg name='filters_band' default='8.0 10.0; 10.0 12.0; 12.0 14.0; 8.0 14; 14.0 20.0;'/>
    <arg name="do_ica" default="false"/>
    <arg name="do_car" default="true"/>
    <arg name="EOG_ch" default="[1, 32]"/>
    <rosparam command="load" file="$(find processing_bci)/cfg/ringbuffer.yaml" subst_value="true"/>
    <rosparam command="load" file="$(find processing_bci)/cfg/csp/csp_test.yaml"/>
    <rosparam command="load" file="$(find processing_bci)/cfg/car.yaml" if="$(arg do_car)" subst_value="true"/>
    <rosparam command="load" file="$(find processing_bci)/cfg/ica.yaml" if="$(arg do_ica)"/>

    <!-- node -->
    <node name="processing_fbcsp_node" pkg="processing_bci" type="processing_fbcsp_node" output="screen"> 
        <param name="nchannels"   value="$(arg nchannels)"/>
        <param name="chunkSize"       value="$(arg chunkSize)"/>
        <param name="samplerate"  value='$(arg samplerate)'/>
        <param name="filter_order" value="$(arg filter_order)"/>
        <param name="run_mode" value="$(arg run_mode)"/>
        <param name="signal_type" value="$(arg signal_type)"/>
        <param name="filters_band"           value="$(arg filters_band)"/>
        <param name="do_ica"        value="$(arg do_ica)"/>
        <param name="do_car"        value="$(arg do_car)"/>
    </node>
</launch>